includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - routes/
        - tests/

    # Rule level 0 is the loosest and 9 is the strictest.
    level: 6

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Access to an undefined property#'
        - '#Call to an undefined method#'

    excludePaths:
        - ./app/Http/Middleware/Authenticate.php
        - ./app/Http/Middleware/RedirectIfAuthenticated.php
        - ./bootstrap/*
        - ./storage/*
        - ./resources/views/*

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    # Laravel specific
    earlyTerminatingMethodCalls:
        Illuminate\Http\RedirectResponse:
            - withInput
